
.evento :global(.hora) {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}
.evento h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
}
.evento :global(.descripcion) {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0;
    
}
.evento a {
    margin-bottom: 72px;
    display: inline-block;
    text-decoration: none;
    
    
}
.evento a:hover {
    box-shadow: 0 0 40px 0 #3339aad8 !important;
}
:global(.btnZoom) {
    opacity: 0;
}