.puzzleContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px;
  }
  
  .puzzlePiece {
    background-color: rgb(182, 43, 43);
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
  }
  
  .successMessage {
    grid-column: span 3;
    text-align: center;
    background-color: #8bc34a;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }
  