.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75); /* Fondo oscuro semi-transparente */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

    
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    
    cursor: pointer;
    z-index: 1001; /* Asegura que esté por encima del overlay */
}
/* Estilos para el contenido del modal */
.modalContent {
    position: relative;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
}
.videoContainer {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    max-width: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.videoContainer video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}