.manzana {
    position:absolute;
    width: 550px;
    height: 550px;
    right: 150px;
   
    top: -120px;
    
}
.frames {
    position: absolute;
    width: 287px;
    height: 350px;
    top: -22px;
    right: 38px;
    z-index: 1000;
    pointer-events: none;
}
.manzana img {
    z-index: 1000;
    pointer-events: none;
    position: relative;
}
.manzana a {
    cursor: pointer;
    position: absolute;
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    font-size: 0;
    color: transparent;
    z-index: 999;
    border-radius: 100%;
    background: radial-gradient(circle, transparent, transparent 70%);
    transition: all 1.3s ease;
}
.manzana a:hover {
    /*background radial de blanco a transparente pero que en el borde ya sea totalmente transparente*/
    background: radial-gradient(circle, #ffffff5d, transparent 70%);

    
}