.sectionAprendizaje {
    background-color: #26AAE1;
    
}
.header {
    padding-top: 200px !important;
    position: relative;
    margin-bottom: 90px!important;
}
.aprendizajeTitulo {
    width: 600px;
    position: relative;
    z-index: 2;
}

/*Agenda*/
.agenda {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 1420px;
}
.col1, .col2 {
    width: 40%;
    position: relative;
    z-index: 2;
}
.col1 > img {
    width: 337px;
    margin-bottom: 48px;
}
.col2 {
    text-align: right;
}
.col2 > img {
    width: 302px;
    margin-bottom: 48px;
}
.recomendacion {
    text-align: center;
    margin-top: 80px;
}
.erlenmeyer {
    width: 535px;
    height: 665px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}