.sectionIntro {
    position: relative;
    overflow: hidden;
    min-height: max(100vh, 780px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background: #573C92;
    background-size: auto 85vh;
}
.logoImagix {
    width: 150px;
    margin: 20px 0;
    position: relative;
    z-index: 3; 
}
.info {
    text-align: center;
    position: relative;
    z-index: 3; 
}
.info img {
    width: 520px;
}
.info p {
    max-width: 600px;
    margin: 2rem auto;
}
.media {
    position: absolute;
    width: 100%;
    top: 240px;
    bottom: 0;
}
.boton {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    opacity: 0;
    z-index: 99;
}
.media img{
    position: absolute;
    top: 420px;
    width: 390px;
    margin-left: -195px;
    left: 50%;
    z-index: 2;
    transition: top 2.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.media video {
    position: absolute;
    /*mix-blend-mode: screen;*/
    width: 780px;
    left: 50%;
    margin-left: -390px;
    top: -110px;
}
.cortinas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cortinas img {
    position: absolute;
}
.cortina1{
    position: absolute;
    width: 70%;
    height: 100%;
    bottom: 0;
    left: 0;
   
}
.cortina1 img {
    left: 0;
    bottom: 0;
}
.cortina2{
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.cortina21 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: -2%;
    
    z-index: 2;
}
.cortina21 img {
    left: 0;
    bottom: 0;

}
.cortina22 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    
    z-index: 1;
}
.cortina22 img {
    left: 0;
    bottom: 0;
    
}
.sectionIntro.open {
    min-height: max(110vh, 1020px);
}
.sectionIntro.open .media img {
    top: 800px;
}
.objetivos {
    position: relative;
    z-index: 9;
}
.objetivos img {
    width: 580px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}
.objetivos ul {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.objetivos ul li {
    width: 45%;
    padding-left: 70px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}
.objetivos ul li img {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
}
