.sectionIntro {
    position: relative;
    overflow: hidden;
    min-height: max(100vh, 780px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #573C92 url(/intro/fondo1.svg) no-repeat left bottom;
    background-size: auto 85vh;
}
.logoImagix {
    width: 150px;
    margin: 20px 0; 
}
.info {
    text-align: center;
}
.info img {
    width: 520px;
}
.info p {
    max-width: 600px;
    margin: 2rem auto;
}
.media {
    position: absolute;
    width: 100%;
    top: 240px;
    bottom: 0;
}
.boton {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
    opacity: 1;
}
.media img{
    position: absolute;
    top: 300px;
    width: 390px;
    margin-left: -195px;
    left: 50%;
}
.media video {
    position: absolute;
    mix-blend-mode: screen;
    width: 1280px;
    left: 50%;
    margin-left: -620px;
    top: -110px;
}
.cortinas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cortina1{
    position: absolute;
    width: 70%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: url(/intro/cortinaIzq2.svg) no-repeat left bottom;
}
.cortina2{
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    right: 0;
}
.cortina21 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: -2%;
    background: url(/intro/cortinaDer1.svg) no-repeat left bottom;
    background-size: auto 100%;
    z-index: 2;
}
.cortina22 {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background: url(/intro/cortinaDer2.svg) no-repeat left bottom;
    background-size: auto 100%;
    z-index: 1;
}
.sectionIntro.open {
    min-height: max(110vh, 1020px);
}
.objetivos {
    position: relative;
    z-index: 9;
}
.objetivos img {
    width: 580px;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
}
.objetivos ul {
    display: flex;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.objetivos ul li {
    width: 45%;
    padding-left: 70px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
}
.objetivos ul li:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}
.objetivos ul li:nth-child(1):before {
    background-image: url(/intro/num1.svg);
}
.objetivos ul li:nth-child(2):before {
    background-image: url(/intro/num2.svg);
}
.objetivos ul li:nth-child(3):before {
    background-image: url(/intro/num3.svg);
}
.objetivos ul li:nth-child(4):before {
    background-image: url(/intro/num4.svg);
}