@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import-normalize;

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  background-color: #41316D;
  font-size: 16px;
  scroll-behavior: smooth;
}
#root {
  width: calc(100vw -10px);
  overflow: hidden;
}
body {
  margin: 0;
}
.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
img {
  max-width: 100%;
}
p, li {
  font-size: 1.5rem;
}
strong {
  font-weight: 700;
  font-size: 1.2em;
}
.bold {
  font-weight: 700;
}
.bold strong {
  font-weight: 900;
}

.btn {
  background: #FFC335;
  color: #24265C;
  border: none;
  padding: 1rem 2rem;;
  font-weight: 900;
  font-size: 1.5rem;
  border-radius: 100px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.btn:hover {
  /*box shadw*/
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.75);
}
/*scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #FFC335;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #41316D;
}
.separador {
  width: 100%;
  /*margin: -120px 0 -8px;*/
  margin: 0;
  display: block;
}
.noise {
  background-image: url(/noise.gif);
    background-size: 120px;
    opacity: calc(15 / 100);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}