.inscripcion {
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;*/
}
.inscripcion :global(.contenedor) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.numero{
    width: 40px;
    margin-bottom: 60px;
}


.thumb {
    max-width: 330px;
    border-radius: 60px;
    border: 2px solid white;
    padding: 32px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    cursor: pointer;
}
.thumb:before {
    content: '';
    position: absolute;
    bottom:100%;
    left: 50%;
    width: 2px;
    height: 48px;
    background: white;
}
.thumb div {
    overflow: hidden;
    border-radius: 32px;
    border: 12px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 16px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    
}
.thumb div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s ease-in-out;
}
.thumb:hover img {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: .85;

}
.inscripcion h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 48px 0;
    position: relative;
    padding: 12px 0;
}
.inscripcion h3:before, .inscripcion h3:after {
    content: '';
    position: absolute;
    bottom:100%;
    left: 50%;
    width: 2px;
    height: 48px;
    background: white;
}
.inscripcion h3:after {
    top: 100%;
}
.inscripcion a {
    display: flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: #869B2C;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 0 4px white;
    transition: box-shadow 0.3s;
}
.inscripcion a:hover {
    box-shadow: 0 0 0 16px white;
}
.fecha {
    width: 260px!important;
    margin-bottom: 70px;
}
:global([class*="reto"]) .inscripcion  a{
    margin-top: 14px;
    background: #747FC1;
    position: relative;
}
:global([class*="reto"]) .inscripcion a:before {
    content: '';
    position: absolute;
    bottom:100%;
    left: 50%;
    width: 2px;
    height: 48px;
    background: white;
}